@model BaseViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- welcome_protomedia_start -->
<div class="welcome_protomedia">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-6">

                <h3>
                    Hoş Geldiniz...
                </h3>

            </div>

        </div>
    </div>
</div>
<!-- welcome_protomedia_end -->
<!-- photographi_area_start -->
<div class="photographi_area">
    <div class="container">
        <div class="row">

            @foreach (Post item in Model.Posts.OrderByDescending(r => r.TimeStamp))
            {
                <div class="col-xl-6 col-md-6" style="padding-bottom:15px;">
                    <div class="single_photography photography_bg_1" style="background-image:url(../img/post/@item.Image) !important;  background-repeat: no-repeat; background-size: 100% auto;">
                        <div class="info">

                            <div class="info_inner">
                                <h3>
                                    <a asp-action="Details" asp-controller="Posts" asp-route-id="@item.Id">
                                        @item.Subject
                                    </a>
                                </h3>
                                <div class="date_catagory d-flex align-items-center justify-content-between">
                                    <span>@item.TimeStamp.ToLongDateString() <br /><i class="fa fa-user"></i> @item.UserName</span>
                                    <span></span>
                                    <span class="catagory">@item.CatName</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            }

        </div>
    </div>
</div>
<!-- photographi_area_end -->
<!-- photography_slider_area_start -->
